{% extends 'base.html' %}

{% block title %}
    Instructions
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

<!-- About Us -->
<div class="w3-container" id="instructions" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-indigo"><b>About Us</b></h1>
    <hr style="width:50px;border:5px solid #00ffff" class="w3-round">
    <p>We are the Quarentined Crew and welcome to our application, Stocking. Stocking is an
        a real-time investment tool, specifically for the novice investor. This is not an application
        that you can actually invest through, but rather get more comfortable investing before actually
        doing so. Through Stocking, you can creae a mock portfolio of companies that you choose and see
        how they would have performed individually and collectively over a selected time period. We created
        this application to give new investors more confidence before entering the market by allowing
        them to see previous stock trends. We believe that personal wealth managment is something
        very important that everyone should practice and our hope is to expand the number of people
        that are comfortable investing.    
    </p>
</div>

<!-- Instructions -->
<div class="w3-container" id="instructions" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-indigo"><b>Instructions</b></h1>
    <hr style="width:50px;border:5px solid #00ffff" class="w3-round">
    <p>Begin by selecting the market history you would like to observe. You can choose between
        the previous five days, the last month, the last three months, previous year, or last
        five years. Next, enter in the amount of your initial deposit into the portfolio. Note
        that this is not any real money thay you have to deposit, Stocking is just an analytical
        and visualization tool, not a real way to invest. Entering in an initial amount will allow
        you to observe the resulting growth or shrink of your mock portfolio with a dollar amount
        instead of just a percentage. Next, enter in all of the company tickers that you want to
        see as part of your mock portfolio as well as the weights for each one. That weights are
        the percentage of your initial investment that will be invested into each of the provided
        companies. When you're ready to view your mock portfolio, click the "Run Analysis" button
        and scroll down where some visualizations should appear.
    </p>
    <p>In the "Portfolio Performance" section you will be able to view how each company stock performed
        over the selected time period as well as the overall portfolio. You can drag a box over a certain
        area of the graph to zoom in on a certain time period. You can alco click on the stocks on the
        graph legend to toggle viewing them on the graph. There are also options to toggle some popular
        indexes to view i your mock portfolio is performing better or worse than general market trends.
        Below the graph are two pie charts. The first should show the percentage of each stock in the
        portfolio at the beginning of the time period. This will match the intial weights that you entered.
        The second will show the resulting contribution to your portfolio from each of the stocks at the end
        of the time period to allow you to see which companies are having the greatest significance to your
        portfolio.
    </p>
</div>

<!-- Features 
<div class="w3-row-padding">
    <div class="w3-col m4 w3-margin-bottom">
        <div class="w3-light-grey">
        <img src="https://i.imgur.com/F9itaJs.png" alt="Stock 1" style="width:100%">
        <div class="w3-container">
            <h3>Feature 1</h3>
            <p class="w3-opacity">Text</p>
            <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        </div>
        </div>
    </div>
    <div class="w3-col m4 w3-margin-bottom">
        <div class="w3-light-grey">
        <img src="https://i.imgur.com/MKiDgzK.png" alt="Stock 2" style="width:100%">
        <div class="w3-container">
            <h3>Feature 2</h3>
            <p class="w3-opacity">Text</p>
            <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        </div>
        </div>
    </div>
    <div class="w3-col m4 w3-margin-bottom">
        <div class="w3-light-grey">
        <img src="https://i.imgur.com/UcSfyoZ.png" alt="Stock 3" style="width:100%">
        <div class="w3-container">
            <h3>Feature 3</h3>
            <p class="w3-opacity">Text</p>
            <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        </div>
        </div>
    </div>
</div>
-->

{% endblock %}